<h1>パスワードの再設定</h1>
<p>パスワードの再設定は下のリンクよりお願いいたします。</p>
<%= link_to "パスワードの再設定", edit_password_reset_url(@user.reset_token, email: @user.email) %>
<p>このURLの有効期限は２時間です。</p>
<p>※再設定を完了させない限り、パスワードは変更されません。</p>